.header {

    &__top {
        background-color: $mainDarkColor;
        a {color: #fff;}
    }

    &__body {
    }

    &__actions {
    }

    &__catalog {
    }
}
.top-header {
    background-color: $mainDarkColor;
        a {color: #fff;}
    padding:  rem(10) 0;

    &__container {
        display: flex;
        align-items: center;
        gap:  rem(20);
        min-height:  rem(50);
        @media (max-width: $tablet) {
            gap:  rem(30);
            &:last-child {
                
            }
        }
    }

    &__menu {
        flex: 1 1 auto;
    }

    &__user {
        display: inline-flex;
        position: relative;
        z-index: 5;
        align-items: center;
        font-weight: 600;
        line-height: math.div(22, 18);
        gap: em(15);
        &::before {
            font-size: rem(28);
        }
        @media (any-hover: hover) {
            &:hover {
                span {
                    text-decoration: underline;
                }
            }
        }
        @media (max-width: $tablet) {
            &::before {font-size:  rem(35);}
            span {display: none;}
        }
    }
}

.menu-top-header {

    &__list {
        display: flex;
        row-gap: 5px;
        @include adaptiveValue("column-gap", 60, 20, 1620, 1400, 1);
        @media (max-width: $tablet) {
            flex-direction: column;
            row-gap: 25px;
        }
    }

    &__item {
        &_catalog {
            @media (min-width: $tablet) {
                display: none;
            }
        }
    }

    &__link {
        font-size: rem(16);
        line-height: math.div(20, 16);
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
        &_catalog {

                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;
                &::before {
                    flex: 0 0 14px;
                    height: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size:  rem(14);
                    transform: rotate(-90deg);
                }
            
        }
        @media (max-width: $tablet) {
            @include adaptiveValue("font-size",30,20,992,320,1);
        }
    }
    @media (max-width: $tablet) {
        display: none;
    }
}
.menu {
    display: none;
    &__body {
        @media (max-width: $tablet) {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            overflow: auto;
            background-color: $mainDarkColor;
            padding:  rem(100)  rem(15)  rem(50)  rem(15);
            transition: all 0.3s ease 0s;
            z-index: 4;
            &::before {
                content: "";
                position: fixed;
                width: 100%;
                height: 70px;
                top: 0;
                left: -100%;
                background-color: $mainDarkColor;
            }
        }
    }
    @media (max-width: $tablet) {
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-end;
    }
    .menu-open {
        left: 0;
        &::before {
            left: 0;
        }
    }
}

//================================================================================================================================

.body-header {

    padding: rem(10) 0;
    background-color: #ecf1f2;

    &__container {
        display: flex;
        min-height: rem(70);
        align-items: center;
        @media (max-width: $tablet) {
            justify-content: space-between;
        }
        @media (max-width: $mobileSmall) {

        }
    }

    &__logo {
        @extend %ic;
        @extend ._icon-logo;
        font-size: rem(42);
        color: $mainDarkColor;
    }

    &__search {
        flex: 1 1 auto;
        @media (min-width: $tablet) {
            padding-right: rem(20);
        }
        @media (min-width: $mobileSmall) {
            @include adaptiveValue("padding-left", 158, 20, 1620, 1250, 1);
        }
    }

    &__actions {
    }
}
.search-header {

    background-color: rgba(7, 7, 7, 0.03);
    border-radius: 3px;
    border: 1px solid rgba(4, 4, 4, 0.5);
    position: relative;
    @media (min-width: $tablet) {
        max-width: rem(377);
    }

    &__button {
        position: absolute;
        background-color: transparent;
        height: rem(41);
        width: rem(41);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(14);
        top: 0;
        left: rem(8);
        color: rgba(0, 0, 0, 0.5);
    }

    &__input {
        width: 100%;
        background-color: transparent;
        border-radius: 3px;
        height: rem(41);
        color: $mainColor;
        padding: 0px rem(20) 0px rem(50);
        &::placeholder {
            color: rgba(0, 0, 0, 0.5);
        }
    }
    @media (max-width: $mobileSmall) {
        background-color: #fff;
    }
}

//====================================================================

.actions-header {
    display: flex;
    align-items: center;
    @media (max-width: $tablet) {
        display: none;
    }
    @include adaptiveValue("column-gap", 30, 20, 1620, 1000, 1);

    &__location {
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        @include adaptiveValue("margin-right", 25, 0, 1620, 1250, 1);
        &::before {
            font-size: rem(24);
            margin: 0px em(10) 0px 0px;
        }
        @media (any-hover: hover) {
            span {
                &:hover {
                        text-decoration: underline;
                }
            }
        }
    }

    &__phones {
    }

    &__favorite {
        position: relative;
        z-index: 5;
        font-size: rem(27);
    }

    &__cart {
        flex: 0 0 auto;
    }
}

.phones-header {
    position: relative;
    z-index: 5;

    &__items {
    }

    &__item {
        position: relative;
        display: flex;
    }

    &__phone {
        font-weight: 600;
        color: #000;
        white-space: nowrap;
        line-height: math.div(22, 18);
        &::before {
            @extend %ic;
            @extend ._icon-footer-phone;
            display: none;
        }
        @media (max-width: $tablet) {
            font-size:  rem(25);
        }
        @media (max-width: $mobileSmall) {
            &::before {
                display: block;
                font-size:  rem(35);
            }
            span {
                display: none;
            }
        }
    }

    &__arrow {
        color: #e8aa31;
        font-size: rem(10);
        margin: 0px 0px 0px em(17);
        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__list {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        z-index: 2;
        margin-top: rem(5);
        border-radius: rem(10);
        background-color: #fff;
        padding: rem(15);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        li {
            &:not(:last-child) {
                margin-bottom: em(5);
            }
        }
        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__callback {
        margin-top: rem(3);
        font-weight: 700;
        line-height: math.div(22, 18);
        color: #e8aa31;
        @media (any-hover: hover) {
            &:hover {
                    text-decoration: underline;
            }
        }
        @media (max-width: $tablet) {
            display: none;
        }
    }
}

._icon-arrow_down {
        transition: transform 0.3s ease 0s;
        &.active {
            transform: rotate(180deg);
        }
}

.cart-header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
    column-gap: 15px;

    &__icon {
        flex: 0 0 37px;
        font-size: rem(35);
        position: relative;
        span {
            position: absolute;
            width:  rem(14);
            height:  rem(14);
            background-color: $mainOrange;
            font-size: rem(7);
            border-radius: 50%;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
    }

    &__body {
        font-size: rem(16);
        line-height: math.div(20, 16);
        @media (max-width: em(1250)) {
            display: none;
        }
    }

    &__summ {
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__link {
        color: #e8aa31;
        white-space: nowrap;
        @media (any-hover: hover) {
            &:hover {
                    text-decoration: underline;
            }
        }
    }
}

//================================================================================================================================

.catalog-header {
    background-color: $mainDarkColor;
    position: relative;

    &__container {
    }

    &__menu {
    }

    /*&__tablet {
        @media (max-width: $tablet) {
            display: none;
        }
    }*/

    @media (max-width: $mobileSmall) {
        padding:  rem(20) 0;
    }
}
.menu-catalog {

    &__list {
        display: flex;
        column-gap:  rem(10);
        justify-content: space-between;
        @media (max-width: $tablet) {
            flex-direction: column;
            row-gap:  rem(25);
        }
    }

    &__item {
    }

    &__link {
        display: flex;
        position: relative;
        transition: color 0.3s ease 0s;
        color: #fff;
        &[data-parent] {
            &::before {
                @extend %ic;
                @extend ._icon-arrow_down;
                display: none;
                @media (max-width: $tablet) {
                    transform: translateY( rem(5)) rotate(-90deg);
                    display: block;
                    font-size:  rem(10);
                }
            }
            @media (max-width: $tablet) {
                display: flex;
                width: 100%;
                flex-direction: row-reverse;
                justify-content: space-between;
            }
        }
        @media (min-width: $tablet) {
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height:  rem(70);
            padding: 0  rem(10);
        }
        &::after {
            content: "";
            opacity: 0;
            visibility: hidden;
            position: absolute;
            bottom: 0;
            left:  rem(10);
            height: 1px;
            background-color: $mainOrange;
            width: calc(100% - rem(20));
            transition: all 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $mainOrange;
                &::after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        @media (min-width: $tablet) {
            &._sub-menu-active {
                color: $mainOrange;
                &::after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        @media (max-width: $tablet) {
            @include adaptiveValue("font-size",30,20,992,320, 1);
        }
    }

    &__sub-menu {
        width: 100%;
        left: 0;
        top: 100%;
        background-color: $mainDarkColor;
    }

    &__back {
        display: none;
        @media (max-width: $tablet) {
            display: inline-flex;
            align-items: center;
            background-color: $mainDarkColor;
            color: #fff;
            @include adaptiveValue("font-size",30,20,992,320, 1);
            &:not(:last-child){
                margin-bottom: em(65);
            }
            &::before{
                margin: 0px em(13) 0px 0px;
            }
        }
    }

    @media (max-width: $tablet) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: $mainDarkColor;
        padding:  rem(25)  rem(15)  rem(50)  rem(15);
        transition: all 0.3s ease 0s;
        .catalog-open & {
            left: 0;
            z-index: 6;
        }
    }
}
.sub-menu-catalog {

    @media (max-width: $tablet) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: $mainDarkColor;
        padding:  rem(25)  rem(15)  rem(50)  rem(15);
        transition: all 0.3s ease 0s;
        .sub-menu-open &{
            display: block;
            left: 0;
            z-index: 20;
        }
    }

    &__back {
        display: none;
        @media (max-width: $tablet) {
            display: inline-flex;
            align-items: center;
            background-color: $mainDarkColor;
            color: #fff;
            @include adaptiveValue("font-size",30,20,992,320, 1);
            &:not(:last-child){
                margin-bottom: em(65);
            }
            &::before{
                margin: 0px em(13) 0px 0px;
            }
        }
    }

    &__block {
        display: none;
        @for $var from 1 to 6 {
            &_#{$var} {
                grid-template-columns: repeat($var, minmax(auto, rem(320)));
            }
        }
        &._sub-menu-open {
            display: grid;
            @media (max-width: $tablet) {
                display: block;
            }
        }
        
    }

    &__container {
        padding: 0  rem(10);
    }

    &__footer {
        padding: rem(30) rem(15) rem(30) 0;
        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__category {
        font-size:  rem(16);
        line-height: math.div(20,16);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        @media (any-hover: hover) {
            &:hover {
                    text-decoration: underline;
            }
    }
    @media (min-width: $tablet) {
        font-weight: 700;
        padding:  rem(30) rem(15) rem(30) 0;
    }
    @media (max-width: $tablet) {
        &:not(:last-child) {
            margin-bottom: em(25);
        }
    }
        &-link {
            color: #fff;
            @media (max-width: $tablet) {
                @include adaptiveValue("font-size",30,20,992,320,1);
            }
            
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: rem(30) rem(15) rem(30) 0;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__item {
    }

    &__link {
        font-size:  rem(16);
        line-height: math.div(20, 16);
        color: #fff;
        @media (any-hover: hover) {
                &:hover {
                        text-decoration: underline;
                }
        }
    }

    &__all {
        font-size:  rem(16);
        color: #e8aa31;
        @media (any-hover: hover) {
            &:hover {
                    text-decoration: underline;
            }
        }
    }
    
}


//================================================================================================================================

.icon-menu {
    @media (max-width: $tablet) {
        display: block;
        position: relative;
        width: 40px;
        height: 22.5px;
        cursor: pointer;
        z-index: 10;
        background-color: transparent;
        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - 1px);
        }
        &.menu-open {
            span {
                transform: scale(0);
            }
            &::before {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
            }
            &::after {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
            }
        }
    }
}

/* var 1
.icon-menu {
    @media (max-width: $tablet) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            &:first-child {
                top: 0;
            }
            &:last-child{
                top: auto;
                bottom: 0;
            }
        }
        &._active {
            span {
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }
                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }
}

/* icon-menu var2
.icon-menu {
    display: none;
    @media (max-width: $mobile) {
        display: block;
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - 1px);
        }
        .menu-open & {
            span {
                transform: scale(0);
            }
            &::before {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
            }
            &::after {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
            }
        }
    }
}
*/