.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 600px;
        background: #fff;
        padding: 20px;
        transform: translate(-50%,-50%);
    }

    &__close {
        position: absolute;
        top: 10%;
        right: 10%;
        cursor: pointer;
    }
}

.no-scroll {
    overflow-y: hidden;
}